.activity {
  max-width: 850px;
  height: 320px;
  background: #fbfbfb;
  margin-top: 60px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: Roboto;
}

.activity svg {
  overflow: visible;
}

.title {
  color: black;
  font-size: 14px;
  text-align: center;
  transform: translate(10.5%, -23%);
  font-weight: 500;
}

.custom {
  font-size: 8px;
  text-align: center;
}

.recharts-legend-item {
  font-size: 14px;
  padding-right: 8px;
  color: black;
  font-weight: 500;
}
