.performance {
  max-width: 258px;
  height: auto;
  aspect-ratio: 1/1;
  background: #282d30;
  border-radius: 5px;
  overflow: hidden;
  font-size: 9px;
  margin-top: 10px;
  margin-right: 2px;
  font-family: roboto;
}

text {
  margin-top: 5px;
}
