body {
  font-family: 'Roboto', sans-serif !important;
  max-height: 1024px;
}

p {
  color: black !important;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  color: black !important;
  font-size: 48px !important;
}

h2 {
  color: black !important;
}

h3 {
  color: #ff0101 !important;
}

a {
  text-decoration: none !important;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  max-width: 1300px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-right: 0;
  margin-left: 0;
  max-width: 850px;
}

@media (max-width: 1320px) {
  .container {
    padding-left: 70px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    padding-left: 70px !important;
  }
}
