.average {
  max-width: 258px;
  height: auto;
  aspect-ratio: 1/1;
  background: red;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 2px;
  font-family: roboto;
}

.average-title {
  font-size: 13px;
  color: #ffff !important;
  margin: 20px 20px;
}
